<img src="AUEB.png" /> <img src="MSc_BA.png" />

# Athens University of Economics and Business
# School of Business
# Department of Management Science & Technology
# Master of Science in Business Analytics
___

<table style='float:left;font-size: 20px;'>
    <tr>
        <th style='text-align: left;'>Program:</th>
        <td style='text-align: left;'>Full-Time</td>
    </tr>
    <tr>
        <th style='text-align: left;'>Quarter:</th>
        <td style='text-align: left;'>2nd (Winter Quarter)</td>
    </tr>
    <tr>
        <th style='text-align: left;'>Course:</th>
        <td style='text-align: left;'>Big Data Systems & Architectures</td>
    </tr>
    <tr>
        <th style='text-align: left;'>Assignment:</th>
        <td style='text-align: left;'>Spark Assignment</td>
    </tr> 
    <tr>
        <th style='text-align: left;'>Student (Registration No):</th>
        <td style='text-align: left;'>Souflas Eleftherios-Efthymios (f2822217)</td>
    </tr>
</table>

___
# Task 1

In order to explore the dataset, we must firstly be able to read it. 

PySpark is the Python API for Apache Spark. In order to install it, uncomment the following first line of the code, or if it does not work, uncomment the third and fourth line of the code.

From the `pyspark.sql` module, we imported `SparkSession`, which is the entry point to programming Spark with the Dataset and DataFrame API. We then use the Builder to construct a SparkSession instance, having as a name "task1".

Spark SQL can load a JSON file as a DataFrame using `SparkSession.read.json()` function. We then set multiline option to true to read JSON records from multiple lines of the JSON file provided into a Spark DataFrame named "movies". We then used `cache()` method that Spark provides, which is an optimization mechanism to store the intermediate computation of a Spark DataFrame to memory as a deserialized object (or if required storage is greater than available memory, it stores some of the excess partitions into a disk and reads the data from the disk when required), so it can be reused in subsequent actions.

We then used the `toPandas()` function, which as the name suggests, returns the contents of this DataFrame as Pandas `pandas.DataFrame`, in order to view it in a more pretty way than it is printed with the `show()` function.

In [1]:
# pip install pyspark
# or else
# import sys
# !{sys.executable} -m pip install pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("task1").getOrCreate()

file = "movie.json" 
movies = spark.read.option("multiline","true").json(file).cache()
movies.toPandas().head()

,actors,countries,description,directors,genre,imdb_url,img_url,languages,metascore,rating,runtime,tagline,title,users_rating,votes,year
0,"[Timothée Chalamet, Elle Fanning, Liev Schreib...",[USA],A young couple arrives in New York for a weeke...,[Woody Allen],"[Comedy, Romance]",https://www.imdb.com/title/tt7139936/,https://m.media-amazon.com/images/M/MV5BODAwZD...,[English],44,PG-13,92 min,None,A Rainy Day in New York,6.6,"21,903",2019
1,"[Emilia Clarke, Hadley Fraser, Sylvia Panacion...",[USA],"Creepy, terrifying chapters from our book of h...","[Michael Escobedo, Kelly Hallmark, 4 more cred...","[Horror, Thriller]",https://www.imdb.com/title/tt12384178/,https://m.media-amazon.com/images/M/MV5BMDI5ZD...,[English],None,18,91 min,"When it comes to murder, they wrote the book",Murder Manual,2.4,192,2020
2,"[Matthew Broderick, Alan Ruck, Mia Sara, Jeffr...",[USA],A high school wise guy is determined to have a...,[John Hughes],[Comedy],https://www.imdb.com/title/tt0091042/,https://m.media-amazon.com/images/M/MV5BMDA0Nj...,"[English, German]",61,PG-13,103 min,Because life is too beautiful a thing to waste.,Ferris Bueller's Day Off,7.8,"308,847",1986
3,"[Robert De Niro, Nick Nolte, Jessica Lange, Ju...",[USA],"A convicted rapist, released from prison after...",[Martin Scorsese],"[Crime, Thriller]",https://www.imdb.com/title/tt0101540/,https://m.media-amazon.com/images/M/MV5BNjdhNz...,[English],73,R,128 min,There is nothing in the dark that isn't there ...,Cape Fear,7.3,"165,628",1991
4,"[Lindsay Lohan, Rachel McAdams, Tina Fey, Tim ...","[USA, Canada]","Cady Heron is a hit with The Plastics, the A-l...",[Mark Waters],[Comedy],https://www.imdb.com/title/tt0377092/,https://m.media-amazon.com/images/M/MV5BMjE1MD...,"[English, German, Vietnamese, Swahili]",66,PG-13,97 min,Survival of the Ruthless,Mean Girls,7.0,"320,492",2004

We then counted and displayed the number of movies in the database, by returning the number of rows in the "movies" DataFrame, because each row contains a movie.

In [2]:
movies.count()

62058

We then counted and displayed the number of comedies in the database, by using the `filter()` function, to filter rows using the given condition i.e., `array_contains()` function, which returns true if the array of the "Genre" column contains the given value ("Comedy"). Then, we counted the rows that satisfied the condition.

In [3]:
from pyspark.sql.functions import array_contains

movies.filter(array_contains(movies.genre, "Comedy")).count()

19312

we then used the `summary()` command to display basic statistics about the “users_rating” field. Firstly, we printed out the schema in a tree format, using the `printSchema()` function and observed that the "users_rating" column was a string column. Because, lexicographically "10" is smaller than "2" and thus the `summary()` command would not work as we would have expected, giving for example as maximum number the 10, we casted the column into a float data type, using the `cast()` function. We used again the `printSchema()` function to observe that everything worked well and then we computed specified statistics for the forementioned numeric column.

In [4]:
from pyspark.sql.functions import col

print("DataFrame Schema:\n")
movies.printSchema()
movies = movies.withColumn("users_rating", col("users_rating").cast('float'))
print("Schema after casting users_rating column into float data type:\n")
movies.printSchema()
movies.select("users_rating").summary().show()

DataFrame Schema:

root
 |-- actors: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- countries: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- description: string (nullable = true)
 |-- directors: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- genre: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- imdb_url: string (nullable = true)
 |-- img_url: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- metascore: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- users_rating: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- year: string (nullable = true)

Schema after casting users_rating column into float data type:

root
 |-- actors: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- countries: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- description: string (nullable = true)
 |-- directors: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- genre: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- imdb_url: string (nullable = true)
 |-- img_url: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- metascore: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- users_rating: float (nullable = true)
 |-- votes: string (nullable = true)
 |-- year: string (nullable = true)

+-------+------------------+
|summary|      users_rating|
+-------+------------------+
|  count|             62056|
|   mean| 5.814105001686313|
| stddev|1.3521864143401068|
|    min|               1.0|
|    25%|               5.0|
|    50%|               6.0|
|    75%|               6.7|
|    max|              10.0|
+-------+------------------+

We then displayed all distinct values in the "rating" field and their number of appearances. Firstly, we used `groupBy()` function, to group the "movies" DataFrame using the "rating" column, so that we could then run aggregations on it and used the `count()` function to count the number of records for each group. The result of it was saved in a separate DataFrame, which was then sorted by the "rating" column for a prettier report, using the `orderBy()` function and the `asc()` function, that returns the forementioned sort expression based on the ascending order of the "rating" column. Finally, we printed all rows to the console.

In [5]:
from pyspark.sql.functions import asc

df = movies.groupBy("rating").count()
df.orderBy(df.rating.asc()).show(df.count())

+---------+-----+
|   rating|count|
+---------+-----+
|     null|20667|
| (Banned)|    1|
|       18|    1|
|        A|    6|
|       AO|    2|
|      All|    1|
| Approved| 6419|
|        C|    3|
|        E|    2|
|        G|  801|
|       GP|  105|
|        M|   41|
|     M/PG|   27|
|    NC-17|   22|
|Not Rated| 8080|
|     Open|    4|
|       PG| 3286|
|    PG-13| 3771|
|   Passed| 4488|
|        R|11368|
|    TV-13|    1|
|    TV-14|  452|
|     TV-G|  115|
|    TV-MA|  639|
|    TV-PG|  268|
|     TV-Y|   16|
|    TV-Y7|   14|
|        U|    4|
|       UA|    7|
|  Unrated| 1295|
|        X|  152|
+---------+-----+

Finally, we stopped the underlying Spark Session.

In [6]:
spark.stop()