<img src="AUEB.png" /> <img src="MSc_BA.png" />

# Athens University of Economics and Business
# School of Business
# Department of Management Science & Technology
# Master of Science in Business Analytics
___

<table style='float:left;font-size: 20px;'>
    <tr>
        <th style='text-align: left;'>Program:</th>
        <td style='text-align: left;'>Full-Time</td>
    </tr>
    <tr>
        <th style='text-align: left;'>Quarter:</th>
        <td style='text-align: left;'>2nd (Winter Quarter)</td>
    </tr>
    <tr>
        <th style='text-align: left;'>Course:</th>
        <td style='text-align: left;'>Big Data Systems & Architectures</td>
    </tr>
    <tr>
        <th style='text-align: left;'>Assignment:</th>
        <td style='text-align: left;'>Spark Assignment</td>
    </tr> 
    <tr>
        <th style='text-align: left;'>Student (Registration No):</th>
        <td style='text-align: left;'>Souflas Eleftherios-Efthymios (f2822217)</td>
    </tr>
</table>

___
# Task 2

In order to explore the dataset, we must firstly be able to read it. 

PySpark is the Python API for Apache Spark. In order to install it, uncomment the following first line of the code, or if it does not work, uncomment the third and fourth line of the code.

From the `pyspark.sql` module, we imported `SparkSession`, which is the entry point to programming Spark with the Dataset and DataFrame API. We then use the Builder to construct a SparkSession instance, having as a name "task2".

Spark SQL can load a JSON file as a DataFrame using `SparkSession.read.json()` function. We then set multiline option to true to read JSON records from multiple lines of the JSON file provided into a Spark DataFrame named "movies". We then used `cache()` method that Spark provides, which is an optimization mechanism to store the intermediate computation of a Spark DataFrame to memory as a deserialized object (or if required storage is greater than available memory, it stores some of the excess partitions into a disk and reads the data from the disk when required), so it can be reused in subsequent actions.

In [1]:
# pip install pyspark
# or if it produces error then run the following 2 lines:
# import sys
# !{sys.executable} -m pip install pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("task2").getOrCreate()

file = "movie.json" 
movies = spark.read.option("multiline","true").json(file).cache()

Firstly, we created a new column named "title_upper" from the "title" column in upper case. This was done because some movies may have lower case characters in the first character of their title and in that way we could find all movies that have the specified character in their title either it is in upper case format or not. We then casted the "users_rating" and "votes" columns into float and integer data types respectively. We used then the `printSchema()` function to observe that everything worked well and then used the `toPandas()` function, which as the name suggests, returns the contents of this DataFrame as Pandas `pandas.DataFrame`, in order to view it in a more pretty way than it is printed with the `show()` function.

In all cells below we include in commented lines the equivalent way of executing SQL over created table ("Movies") in PySpark, instead of using Dataframes. However, because PySpark and Dataframes was required by the description of the task, we left it commented.

In [2]:
from pyspark.sql.functions import upper, col

movies = movies.withColumn("title_upper",upper(col("title")))
movies = movies.withColumn("users_rating", col("users_rating").cast('float'))
movies = movies.withColumn("votes", col("votes").cast('integer'))

# for using SQL:
# movies.createOrReplaceTempView("Movies")

movies.printSchema()
movies.toPandas().head()

root
 |-- actors: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- countries: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- description: string (nullable = true)
 |-- directors: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- genre: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- imdb_url: string (nullable = true)
 |-- img_url: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- metascore: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- users_rating: float (nullable = true)
 |-- votes: integer (nullable = true)
 |-- year: string (nullable = true)
 |-- title_upper: string (nullable = true)

,actors,countries,description,directors,genre,imdb_url,img_url,languages,metascore,rating,runtime,tagline,title,users_rating,votes,year,title_upper
0,"[Timoth√©e Chalamet, Elle Fanning, Liev Schreib...",[USA],A young couple arrives in New York for a weeke...,[Woody Allen],"[Comedy, Romance]",https://www.imdb.com/title/tt7139936/,https://m.media-amazon.com/images/M/MV5BODAwZD...,[English],44,PG-13,92 min,None,A Rainy Day in New York,6.6,NaN,2019,A RAINY DAY IN NEW YORK
1,"[Emilia Clarke, Hadley Fraser, Sylvia Panacion...",[USA],"Creepy, terrifying chapters from our book of h...","[Michael Escobedo, Kelly Hallmark, 4 more cred...","[Horror, Thriller]",https://www.imdb.com/title/tt12384178/,https://m.media-amazon.com/images/M/MV5BMDI5ZD...,[English],None,18,91 min,"When it comes to murder, they wrote the book",Murder Manual,2.4,192.0,2020,MURDER MANUAL
2,"[Matthew Broderick, Alan Ruck, Mia Sara, Jeffr...",[USA],A high school wise guy is determined to have a...,[John Hughes],[Comedy],https://www.imdb.com/title/tt0091042/,https://m.media-amazon.com/images/M/MV5BMDA0Nj...,"[English, German]",61,PG-13,103 min,Because life is too beautiful a thing to waste.,Ferris Bueller's Day Off,7.8,NaN,1986,FERRIS BUELLER'S DAY OFF
3,"[Robert De Niro, Nick Nolte, Jessica Lange, Ju...",[USA],"A convicted rapist, released from prison after...",[Martin Scorsese],"[Crime, Thriller]",https://www.imdb.com/title/tt0101540/,https://m.media-amazon.com/images/M/MV5BNjdhNz...,[English],73,R,128 min,There is nothing in the dark that isn't there ...,Cape Fear,7.3,NaN,1991,CAPE FEAR
4,"[Lindsay Lohan, Rachel McAdams, Tina Fey, Tim ...","[USA, Canada]","Cady Heron is a hit with The Plastics, the A-l...",[Mark Waters],[Comedy],https://www.imdb.com/title/tt0377092/,https://m.media-amazon.com/images/M/MV5BMjE1MD...,"[English, German, Vietnamese, Swahili]",66,PG-13,97 min,Survival of the Ruthless,Mean Girls,7.0,NaN,2004,MEAN GIRLS

The first letter of my last name is "S" (from **S**OUFLAS). In order to return the ‚Äútitle‚Äù and ‚Äúyear‚Äù of the movie with the largest ‚Äúusers_rating‚Äù that its title starts with the forementioned letter, firstly we filtered all rows using as condition the column "title_upper" to have "S" as its first letter (`substring()` function) and saved the result to a separate DataFrame ("s_Title"). From this DataFrame, we then filtered its rows again to contain only those movies that got the biggest value in "users_rating" and from those, we printed their "title" and "year".

In [3]:
from pyspark.sql.functions import substring, max

s_Title = movies.filter(substring("title_upper",1,1)=="S")
s_Title.filter(s_Title.users_rating == s_Title.select(max("users_rating")).collect()[0][0]).select("title","year").show()

# or simpler using SQL:
# spark.sql("SELECT title, year FROM Movies WHERE UPPER(title) LIKE 'S%' AND users_rating = (SELECT MAX(users_rating) FROM "\
# "Movies WHERE UPPER(title) LIKE 'S%')").show()

+-------------------+----+
|              title|year|
+-------------------+----+
|Shades of Alex Gray|2008|
|Shrek for President|2016|
+-------------------+----+

In order to return the average "users_rating" of the movies that their title starts with the second letter of my last name, which is "O" (from S**O**UFLAS), we firstly filtered all rows using as condition the column "title_upper" to have "O" as its first letter (`substring()` function) and saved the result to a separate DataFrame ("o_Title"). From this DataFrame, we then calculated the average "users_rating", rounded that number to contain only 2 digits and returned the calculated column aliased with a new name ("Avg_Users_Rating").

In [4]:
from pyspark.sql.functions import avg, round

o_Title = movies.filter(substring("title_upper",1,1)=="O")
o_Title.select(round(avg("users_rating"),2).alias("Avg_Users_Rating")).show()

# or simpler using SQL:
# spark.sql("SELECT ROUND(AVG(users_rating),2) AS Avg_Users_Rating FROM Movies WHERE SUBSTR(UPPER(title), 1, 1) = 'O'").show()

+----------------+
|Avg_Users_Rating|
+----------------+
|            5.97|
+----------------+

The third letter of my last name is "U" (from SO**U**FLAS). In order to return the "title" and "year" of the movie with the most votes, when only movies with title starting with the forementioned letter are considered, firstly we filtered all rows using as condition the column "title_upper" to have "U" as its first letter (`substring()` function) and saved the result to a separate DataFrame ("u_Title"). From this DataFrame, we then filtered its rows again to contain only those movies that contained the biggest value in "votes" column (i.e., had the most votes) and from those, we printed their "title" and "year", using the `show()` function with the "truncate" parameter set to false, in order not to truncate strings longer than 20 chars.

In [5]:
u_Title = movies.filter(substring("title_upper",1,1)=="U")
u_Title.filter(u_Title.votes==u_Title.select(max("votes")).collect()[0][0]).select("title","year").show(truncate = False)

# or simpler using SQL:
# spark.sql("SELECT title, year FROM Movies WHERE SUBSTR(UPPER(title), 1, 1) = 'U' AND votes = (SELECT MAX(votes) FROM "\
# "Movies WHERE SUBSTR(UPPER(title), 1, 1) = 'U')").show(truncate = False)

+---------------------------+----+
|title                      |year|
+---------------------------+----+
|Unidentified Flying Oddball|1979|
+---------------------------+----+

Finally, we stopped the underlying Spark Session.

In [6]:
spark.stop()